:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #ffffff;
    --main-background-color: #E5E5E5;
    --background-secondary-color: #F5F4FA;
}

.page-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--main-background-color);
}

.list {
list-style: none;
}

/* header */
.header-logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo>span {
    color: var(--title-color);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--title-color);
}

.header-link {
   color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-link.current {
    color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-contacts a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-contacts a:hover,
.header-contacts a:focus {
   color: var(--accent-color); 
}

/* hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* benefits */
.benefits-title {
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* works */
.works-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.works-list a:focus {
    color: var(--accent-color);
}

/* team */
.team {
    background-color: var(--background-secondary-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-card {
    background-color: var(--secondary-text-color);
}

.name-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */
.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo>span {
    color: var(--secondary-text-color);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--title-color);
}

.footer-list a {
    color: var(--secondary-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.footer-link span {
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/* portfolio.html */

.filter-btn {
    color: var(--title-color);
    background-color: var(--background-secondary-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.examples-link {
    text-decoration: none;
}

.examples-link:focus {
    color: var(--accent-color);
}

.examples-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.examples-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

